<h1>Editing applicant</h1>

<% form_for(@applicant) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @applicant %> |
<%= link_to 'Back', applicants_path %>