<h1>About us</h1>

<p><strong>AHealthJob.com</strong>
  is a Toronto based job search engine that caters to jobs in healthcare.
  The site is simple to use and we do the work for you.</p>

<h2>Our Vision</h2>
<p>To become the leading healthcare recruitment site catering to the healthcare sector by providing quality and efficient customer service and recruitment tools.</p>

<h2>Services we provide:</h2>
<ul>
  <li>  job board</li>
  <li>  online submission</li>
  <li>  telephone submission</li>
  <li>  fax submission</li>
  <li>  advertisement on major networking sites, universities, colleges, training schools and major job fairs</li>
  <li>  review resumes submitted by potential candidates </li>
  <li>  our customer service reps will review resumes on your behalf and send only those qualified*</li>
  <li>  print advertisement and website advertisement*</li>
  <li>  branding: increase your presence and strengthen your brand by placing a banner advertisement on our website, The branding remains static for 1 year</li>
  <li>  Lower cost than most recruitment sites</li>
</ul>

<div style="font-style: italic">
  *If you see a service that is not provide please let us know and we will try our best to accommodate your needs.
</div>






