<h1>Contact us</h1>
<p>
  Ahealthjob.com<br />
  Telephone: 416-817-8316<br />
F: 416-757-3053 <br />
Email: administrator @ahealthjob.com <br />
<br /><br />
Please allow one day for a reply
<br /><br />
Thank you for choosing ahealthjob.com as your ultimate recruitment site
</p>
