

<h1>FAQ</h1>

<h3>1. Why should I create a profile?</h3>
<p>Creating a profile ensures that your resume and cover letter receives maximum exposure to employers. Our profile is much more detailed than a resume and gives the employer a better understanding of you are.</p> 

<h3>2. Who will see my profile, resume and cover letter?</h3>
<p>Profiles, resumes, and cover letters can only be seen by potential employers if you choose to have your profile public. By choosing to have your profile public, you are allowing employers to access information on your documents. To ensure your privacy, employers must have a user name and password to review any profiles, resumes and cover letters on the site. Ahealthjob.com does not track who views your profile. Furthermore, your profile, resume and cover letter will not be seen by other job seekers.</p>

<h3>3. How do I apply for a position listed on ahealthjob.com?</h3>
<p>The application procedure for each individual posting varies for each employer. It is advisable to read the postings carefully to ensure the correct method of submitting your resume and appropriate documents. For further information on the posting, contact the employer directly.</p>

<h3>4. When are postings updated?</h3>
<p>Postings are updated on the needs of the employer. Check occasionally for new updates or you can receive free email alerts (SIDE NOTE: should be able to link individual to email alert signup) once new jobs have been added to the system.</p>

<h3>5. How much does it cost to upload my resume?</h3>
<p>It is free! There is no charge to upload your resume.</p>

<h3>6. What are additional services?</h3>
<p>Additional services are services i.e. external from our job board, that include an additional cost. For example: Advertisement in a newspaper. We know how busy things can be, so we do the work for you.</p>

<h3>7. Will my contact information be sold or given to third parties?</h3>.
<p>Ahealthjob.com does not disclose your name, address, email address, telephone numbers or any other information to any third party without your consent. The personal information you choose to upload onto your profile will be shared with the individual employers you send your resume and cover letter to.</p>

<h3>8. How do I deactivate my account?</h3>
