<h2 style="text-align: center"> Find great Health Jobs Now!<br /> Create your FREE Job Seeker account!<br />
  <%= link_to 'Job Seeker Account Signup', :controller => 'users', :action  => 'new', :account_type => 'seeker'%>
</h2>
