<!-- ALL PROFESSION CATEGORIES -->  
<img src="/images/job-categories.png" alt="job categories" />

<div class="grid_12">
  <%= render :partial => 'professions', :locals => {:categories => @categories, :display_all => true} %>
</div>
