<h2>New Applicant Notification</h2>
<p>A new applicant has applied for your job titled <%= @applicant.job.title %></p>

<p>To view this applicants information including attached 
resumes and other information, please visit your profile or click the following link:</p>
<br />
<br />
<a href="http://www.ontariohealthjobs.com/applicants/<%= @applicant.job_id %>">View Applicant</a>


