<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="sv-SE">

<head profile="http://gmpg.org/xfn/11">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title><%= @title + " | " unless @title.nil? %> OntarioHealthJobs.com</title>
</head>

<body>
	
	<div style="width: 600px">
	<%= yield %>
	</dive3f4b8>
	
	
</body>
</html>